@use '../abstracts' as abs;
@use '../utils' as ut;

.card__grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 1rem;
}	

.profil__container {
	display:flex;
	flex-direction:column;	
	align-items:center;
	width:300px;
	height:400px;
	margin:3rem auto;
	border-radius:ut.$card-radius;

	background-color: hsla(0,0%,98%,1);
}
.profil__img__container {
	border-radius: ut.$portrait-radius;
	height: 200px;
	width: 200px;
	object-fit: cover;
	overflow: hidden;
	margin:1rem 1rem 2rem;	
	box-shadow: 0px 4px 12px abs.$neutral-grey;
	background-color: abs.$neutral;
}
// .img__profil {	
// 	background-color: abs.$shadow;
// }
.profil__name{
  @include abs.names-font;
  color: abs.$font-secondary;
}
.location {
	@include abs.location-font;
}
.description__price{
	@include abs.price-font;
}
.profil__tag-list{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.tag-item {
	@include abs.tags-font;
	box-sizing: border-box;
	padding: 0.2rem;
	border: 0.5px solid abs.$shadow;
	border-radius: 11px;
}
// @include names-font;
// @include location-font;
// @include description-font;
// @include price-font;
// @include tags-font;