$primary: hsla(0,67%,34%,1);//#901C1C
$secondary: hsla(11,63%,53%,1);//#D3573C

$bg-primary:hsla(0,67%,34%,1);//#901C1C
$bg-secondary:hsla(11,58%,66%,1);//#DB8876
$bg-third:hsla(0,0%,98%,1);//#FAFAFA

$font-primary: hsla(0,67%,34%,1);//#901C1C
$font-secondary: hsla(11,63%,53%,1);//#D3573C
$font-third:hsla(0,0%,32%,1);//#525252

$neutral: hsla(0,0%,100%,1);//#FFFFFF
$neutral-black: hsla(0,0%,0%,1);//#000000
$neutral-grey: hsla(0,0%,46%,1);//#757575
$shadow: hsla(0,0%,77%,1);//#C4C4C4